.PopUp{
  position: fixed;

  left: 20%;
  top: 20%;

  width: 60%;

  border: 2px solid burlywood;
  border-radius: 1em;
  box-shadow: -2px 5px 5px burlywood;

  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  color: #011627;
  padding-bottom: 20px;
}

.close-popup-button{
    margin-top: 20px;
}